NODE_ENV=development
PORT=8000
USERNAME=Franck
PASSWORD=123456
DATABASE_PASSWORD=xxxx
DATABASE =xxxx
DATABASE_LOCAL=xxxxxxxx

JWT_SECRET=xxxxxxxx
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_USERNAME=xxxxxxxx
EMAIL_PASSWORD=xxxxxxxx
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=25